*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:not(i){
    font-family: "Roboto", sans-serif;
}

body{
    /* background-color: #ae9cff; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 50px; */
    /* border: 2px solid red; */
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-image: linear-gradient(rgb(169, 245, 169),rgb(109, 109, 251));
}

.container{
    /* height: 100vh; */
    /* width: 100vw; */
    background-color: #fff9;
    backdrop-filter: blur(10px);
    width: 50vw;
    max-width: 800px;
    min-width: 500px;
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    padding: 80px 50px;
    border-radius: 30px;
    box-shadow: 0 0 10px #0003;
    transition: all 1s ease;
}

.nav{
    position: fixed;
    width: 100vw;
    height: 70px;
    /* background: rgba(255, 255, 255, 0.5); */
    /* backdrop-filter: blur(7px); */
    /* box-shadow: 0px 0px 20px #0002; */
    top: 0;
    z-index: 1;
    transition: all 0.5s ease;
}

.nav.drop-menu{
    /* background: rgba(255, 255, 255, 0.9); */
    /* box-shadow: 0px 0px 100px #0005; */
    height: 80vh;
    /* min-height: 500px; */
    overflow: scroll;
}

.nav .head{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    height: 70px;
    z-index: 2;
    position: relative;
    /* border-bottom: 1px solid #0002; */
}

.nav .head .logo{
    position: relative;
    left: -10px;
    width: 50px;
    height: 50px;
    border: 2px solid transparent;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(88, 19, 88, 0.835);
    font-size: 30px;
    transition: all 0.5s ease;
    display: none;
}




.nav .head .hamburger{
    position: relative;
    right: -10px;
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ae9cff;
    color: #fff;
    /* box-shadow: 0px 0px 10px #000d; */
    font-size: 30px;
    transition: all 0.5s ease;
    overflow: hidden;
}

.nav .head .hamburger i{
    position: absolute;
    transition: all 0.5s ease;
}

i.fa.fa-close{
    /* transform: translateX(50px); */
    opacity: 0;
    scale: 0;
}

.drop-menu i.fa-close{
    /* transform: translateX(0); */
    opacity: 1;
    scale: 1;
}

.drop-menu i.fa-bars{
    /* transform: translateX(-50px); */
    opacity: 0;
    scale: 0;
}

.nav .head .hamburger:hover{
    border: 2px solid #0003;
}

.drop-menu .head .hamburger{
    transform: rotate(360deg);
    /* content: "xxaaaasdfsgddfsda"; */
}



.menu{
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    /* box-shadow: -2px 0px 90vw #0000; */
    transform: translateX(100%);
    height: 100vh;
    background: rgba(255, 255, 255, 0.754);
    z-index: 1;
    transition: all 0.5s ease;
    backdrop-filter: blur(5px);
}

.drop-menu .menu{
    /* box-shadow: 0px 0px 20px #0004; */
    transform: translateX(0);
}

.search-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: all 1s ease;
}

.search-box input{
    transition: all 1s ease;
    padding: 5px;
    width: 70%;
    border: none;
    outline: none;
    border-bottom: 3px solid #ae9cff;
    font-size: 16px;
    background-color: transparent;
}

.search-box button{
    transition: all 1s ease;
    padding: 5px 0;
    width: 25%;
    background-color: #ae9cff;
    border: none;
    outline: none;
    color: #ffffff;
    border-radius: 5px;
}


.result{
    transition: all 1s ease;
    position: relative;
}

.result h3{
    transition: all 1s ease;
    font-size: 30px;
    color: #1f194c;
}

.result .error{
    transition: all 1s ease;
    margin: 80px 0 0 0;
    text-align: center;
}

.result .word{
    transition: all 1s ease;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.result button{
    background-color: transparent;
    transition: all 1s ease;
    color: #ae9cff;
    border: none;
    outline: none;
    font-size: 18px;
}

.result .details{
    transition: all 1s ease;
    display: flex;
    gap: 10px;
    color: #b3b6d4;
    margin: 5px 0 20px 0;
    font-size: 14px;
}

.word-meaning{
    transition: all 1s ease;
    color: #575a7b;
}

.word-example{
    transition: all 1s ease;
    color: #575a7bcb;
    font-style: italic;
    border-left: 5px solid #ae9cff;
    padding: 20px;
    margin-top: 30px;
}


@media screen and (max-width: 600px) {
    .container{
        width: 90vw;
        min-width: 300px;
        /* gap: 10vh; */
        /* height: 80vh; */
    }
}